src/xml/EN_ISO_23387.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
	xmlns="https://iso.org/2022/ProductDataTemplates"
	elementFormDefault="qualified"
	targetNamespace="https://iso.org/2022/ProductDataTemplates"
	
	
	xmlns:xlink="http://www.w3.org/1999/xlink"
	>
	
	
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd" />
	
	<xs:element name="DT_Library">
		<xs:annotation>
			<xs:documentation>To be exported as xtdDictionary in ISO 12006-3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="T_DT_Library"/>
			</xs:complexContent>
		</xs:complexType>
		<xs:keyref name="RefDoc_Link" refer="Document_ID">
			<xs:selector xpath="ReferenceDocument"/>
			<xs:field xpath="@UUID"/>
		</xs:keyref>
		<xs:key name="Document_ID">
			<xs:selector xpath="*/ReferenceDocument"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:key>
		<xs:key name="Language_Code">
			<xs:selector xpath="Language"/>
			<xs:field xpath="@Code"/>
		</xs:key>
		<xs:keyref name="PredefValues_Lang_Link" refer="Language_Code">
			<xs:selector xpath="*/PredefinedValues"/>
			<xs:field xpath="@LanguageCode"/>
		</xs:keyref>
	<!--	<xs:keyref name="CO_Lang_Link" refer="Language_Code">
			<xs:selector xpath="*/Name | */Definition | *"/>
			<xs:field xpath="@LanguageCode"/>
		</xs:keyref>-->
		<xs:key name="CO_Key">
			<xs:selector xpath="ConstructionObject"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:unique name="Unique_UUID">
			<xs:selector xpath="*"/>
			<xs:field xpath="@UUID"/>
		</xs:unique>
		<xs:unique name="Unique_Name_UUID">
			<xs:selector xpath="*/Name"/>
			<xs:field xpath="@UUID"/>
		</xs:unique>
		<xs:unique name="Unique_Def_UUID">
			<xs:selector xpath="*/Definition"/>
			<xs:field xpath="@UUID"/>
		</xs:unique>
		<xs:keyref name="LINK_CO" refer="CO_Key">
			<xs:selector xpath="DataTemplate/IsDataTemplateFor"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
		<xs:key name="Pset_Key">
			<xs:selector xpath="SetOfProperties"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:keyref name="LINK_SubPSet" refer="Pset_Key">
			<xs:selector xpath="*/SetOfProperties"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
		<xs:key name="Property_Key">
			<xs:selector xpath="Property"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:keyref name="Link_Pset_Property" refer="Property_Key">
			<xs:selector xpath="*/Property"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
		<xs:key name="Unit_Key">
			<xs:selector xpath="Unit"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:keyref name="Link_Unit" refer="Unit_Key">
			<xs:selector xpath="Property/Unit"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
		<xs:key name="Dimension_Key">
			<xs:selector xpath="Dimension"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:keyref name="Link_Dimension" refer="Dimension_Key">
			<xs:selector xpath="*/Dimension"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
		<xs:key name="PhysicalQuantity_Key">
			<xs:selector xpath="*/PhysicalQuantity"/>
			<xs:field xpath="@UUID"/>
		</xs:key>
		<xs:keyref name="Link_PhysicalQuantity" refer="PhysicalQuantity_Key">
			<xs:selector xpath="*/PhysicalQuantity"/>
			<xs:field xpath="@TargetUUID"/>
		</xs:keyref>
	</xs:element>
	<xs:complexType name="T_Boundary">
		<xs:attribute name="BoundaryLimit" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MIN"/>
					<xs:enumeration value="MAX"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Inclusive" type="xs:boolean" use="required"/>
		<xs:attribute name="BoundaryValue" type="xs:double" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_ConstructionObject">
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_DataTemplate">
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:sequence>
					<xs:element name="IsDataTemplateFor" type="T_Link">
						<xs:annotation>
							<xs:documentation>Link to the construction object described by the Data Template</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SetOfProperties" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType mixed="false">
							<xs:complexContent>
								<xs:extension base="T_Link"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="T_Link"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_Dimension">
		<xs:attribute name="UUID" type="T_URI" use="required"/>
		<xs:attribute name="L" type="xs:int" use="required"/>
		<xs:attribute name="T" type="xs:int" use="required"/>
		<xs:attribute name="M" type="xs:int" use="required"/>
		<xs:attribute name="Theta" type="xs:int" use="required"/>
		<xs:attribute name="N" type="xs:int" use="required"/>
		<xs:attribute name="I" type="xs:int" use="required"/>
		<xs:attribute name="J" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_DT_Library">
		<xs:sequence>
			<xs:element name="LibraryName" type="T_Text" maxOccurs="unbounded"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="ConstructionObject" type="T_ConstructionObject"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>To be exported as xtdSubject in ISO 12006-3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DataTemplate" type="T_DataTemplate" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>To be exported as xtdSubject in ISO 12006-3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SetOfProperties" type="T_SetOfProperties" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>To be exported as xtdSubject in ISO 12006-3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Property" type="T_Property" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>To be exported as xtdProperty in ISO 12006-3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Language" type="T_Language">
					<xs:annotation>
						<xs:documentation>To be exported as xtdLanguage in ISO 12006-3</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Unit" type="T_Unit" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="Dimension" type="T_Dimension" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="PhysicalQuantity" type="T_PhysicalQuantity" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="ReferenceDocument" type="T_ReferenceDocument" minOccurs="0"
					maxOccurs="unbounded"/>
				<xs:element name="ExternalDictionary" type="T_ExternalDictionary" minOccurs="0"
					maxOccurs="unbounded"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="URI" type="T_URI" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_DT_Library_Component" abstract="true">
		<xs:sequence>
			<xs:element name="Name" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="T_Text"/>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Definition" type="T_Text" maxOccurs="unbounded"/>
			<xs:element name="ReferenceDocument" type="T_Link" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExternalDictionary" type="T_Link" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="URI" type="T_URI" use="required"/>
		<xs:attribute name="Date" type="xs:dateTime" use="required"/>
		<xs:attribute name="Document_URI" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T_ExternalDictionary">
		<xs:attribute name="DictionaryName" type="xs:string" use="required"/>
		<xs:attribute name="URI" type="T_URI" use="optional"/>
	</xs:complexType>
	<xs:complexType name="T_Language">
		<xs:attribute name="URI" type="T_URI" use="required"/>
		<xs:attribute name="Code" type="xs:string" use="required"/>
		<xs:attribute name="Name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_Link">
		<xs:attribute name="LinkURI" type="T_URI" use="optional">
			<xs:annotation>
				<xs:documentation>This is mandatory when wanting to export to IFD in order to ccreate xtdRelationshipToSubject between xtdSubjects</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute ref="xlink:title" use="required"/>
		<xs:attribute ref="xlink:href" use="required"/>
		
		<!---
			
			These should be refeferences to URIs using xlink:href
			
		<xs:attribute name="TargetUUID" type="T_URI" use="required"/>
		-->
		
	</xs:complexType>
	<xs:complexType name="T_PhysicalQuantity">
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:sequence>
					<xs:element name="Dimension" type="T_Link"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_PredefinedValue">
		<xs:attribute name="OrderNo" type="xs:int" use="required"/>
		<xs:attribute name="Value" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_PredefinedValues">
		<xs:sequence>
			<xs:element name="Unit" type="T_Link" minOccurs="0"/>
			<xs:element name="Values">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ValueItem" type="T_PredefinedValue" maxOccurs="unbounded"
						/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="URI" type="T_URI" use="required"/>
		<xs:attribute name="LanguageCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="T_Property">
		<xs:annotation>
			<xs:documentation>xtdProperty in ISO 12006-3</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:sequence>
					<xs:element name="Datatype" type="T_Datatype"/>
					<xs:element name="Symbol" type="xs:string" minOccurs="0"/>
					<xs:element name="Unit" type="T_Link" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PhysicalQuantity" type="T_Link" minOccurs="0"/>
					<xs:element name="PredefinedValues" type="T_PredefinedValues" minOccurs="0"
						maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>One set of predefined values per language or per Unit</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Boundary" type="T_Boundary" minOccurs="0"
						maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_ReferenceDocument">
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:attribute name="DateOfPublication" type="xs:dateTime" use="optional"/>
				<xs:attribute name="Author" type="xs:string" use="optional"/>
				<xs:attribute name="ISBN" type="xs:string" use="optional"/>
				<xs:attribute name="Publisher" type="xs:string" use="optional"/>
				<xs:attribute ref="xlink:href" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_SetOfProperties">
		<xs:annotation>
			<xs:documentation>xtdSubject in ISO 12006-3</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:sequence>
					<xs:element name="SetOfProperties" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType mixed="false">
							<xs:complexContent>
								<xs:extension base="T_Link"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="Property" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="T_Link"/>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_Text">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="URI" type="T_URI" use="required"/>
				<xs:attribute name="LanguageCode" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_Unit">
		<xs:complexContent>
			<xs:extension base="T_DT_Library_Component">
				<xs:sequence>
					<xs:element name="Dimension" type="T_Link"/>
				</xs:sequence>
				<xs:attribute name="Symbol" type="xs:string" use="optional"/>
				<xs:attribute name="Scale" type="T_Scale" use="required"/>
				<xs:attribute name="Base" type="T_Base" use="required"/>
				<xs:attribute name="Coefficient" type="xs:double" use="required"/>
				<xs:attribute name="Offset" type="xs:double" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="T_Base">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ONE"/>
			<xs:enumeration value="TWO"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="TEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Datatype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BOOLEAN"/>
			<xs:enumeration value="INTEGER"/>
			<xs:enumeration value="RATIONAL"/>
			<xs:enumeration value="REAL"/>
			<xs:enumeration value="COMPLEX"/>
			<xs:enumeration value="STRING"/>
			<xs:enumeration value="DATETIME"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Scale">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LINEAR"/>
			<xs:enumeration value="LOGARITHMIC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_URI">
		<xs:restriction base="xs:anyURI">
			<!--<xs:pattern
				value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
			/>-->
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
