src/xml/ISO-23387.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
		   elementFormDefault="qualified"
		   xmlns="http://tempuri.org/XMLSchema.xsd"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xml:lang="en"
>

	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>

	<xs:annotation>
		<xs:documentation>

		</xs:documentation>
	</xs:annotation>

	<xs:element name="Library">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="Name" type="multilingualTextType" maxOccurs="unbounded" />
				<xs:element name="DataTemplate" type="dataTemplateType" maxOccurs="unbounded" />
				<xs:element name="Property" type="propertyType" maxOccurs="unbounded" />
				<xs:element name="PhysicalQuantity" type="physicalQuantityType" maxOccurs="unbounded" />
				<xs:element name="SetOfProperties" type="groupOfPropertiesType" maxOccurs="unbounded" />
				<xs:element name="Purpose" type="groupOfPropertiesType" maxOccurs="unbounded" />
				<xs:element name="IntendedUse" type="groupOfPropertiesType" maxOccurs="unbounded" />
				<xs:element name="UserDefined" type="groupOfPropertiesType" maxOccurs="unbounded" />
				<xs:element name="ReferenceDocument" type="referenceDocumentType" maxOccurs="unbounded" />
				<xs:element name="Object" type="objectType" maxOccurs="unbounded" />
				<xs:element name="Dimension" type="dimensionType" maxOccurs="unbounded" />
				<xs:element name="Unit" type="unitType" maxOccurs="unbounded" />
			</xs:choice>
			<xs:attribute name="nodeID" type="guidType"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="multilingualTextType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="xml:lang" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="unitType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="Symbol" type="multilingualTextType" maxOccurs="unbounded" />
					<xs:element name="Dimension" type="referenceType" />
					<xs:element name="Scale" type="scaleType" />
					<xs:element name="Base" type="baseType" />
					<xs:element name="Coefficient" type="xs:double" />
					<xs:element name="Offset" type="xs:double" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dataTemplateType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:choice maxOccurs="unbounded">
					<xs:element name="Object" type="referenceType" minOccurs="1" maxOccurs="1" />
					<xs:element name="DataTemplate" type="referenceType" maxOccurs="unbounded" />
					<xs:element name="Property" type="referenceType" minOccurs="1" maxOccurs="unbounded" />
					<xs:element name="SetOfProperties" type="referenceType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="dimensionType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="DimensionExponentForAmountOfSubstance" type="xs:int" />
					<xs:element name="DimensionExponentForElectricCurrent" type="xs:int" />
					<xs:element name="DimensionExponentForLength" type="xs:int" />
					<xs:element name="DimensionExponentForLuminousIntensity" type="xs:int" />
					<xs:element name="DimensionExponentForMass" type="xs:int" />
					<xs:element name="DimensionExponentForThermodynamicTemperature" type="xs:int" />
					<xs:element name="DimensionExponentForTime" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="propertyType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="DataType" type="datatypeType" />
					<xs:element name="Symbol" type="xs:string" minOccurs="0" />
					<xs:element name="Unit" type="referenceType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="PhysicalQuantity" type="referenceType" minOccurs="0" />
					<xs:element name="Property" type="referenceType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="physicalQuantityType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="Dimensions" type="referenceType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="groupOfPropertiesType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="Property" type="referenceType" minOccurs="0" maxOccurs="unbounded" />
					<xs:element name="SetOfProperties" type="referenceType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="referenceDocumentType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="DateOfPublication" type="xs:dateTime" minOccurs="0" />
					<xs:element name="Author" type="xs:string" minOccurs="0" />
					<xs:element name="ISBN" type="xs:string" minOccurs="0" />
					<xs:element name="Publisher" type="xs:string" minOccurs="0" />
					<xs:element name="URI" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="objectType">
		<xs:annotation>
			<xs:documentation>

			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="conceptType">
				<xs:sequence>
					<xs:element name="Object" type="referenceType" minOccurs="0" maxOccurs="unbounded" /> <!--AB: not sure why we need this-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="conceptType" abstract="true">
		<xs:sequence>
			<xs:element name="Name" type="multilingualTextType" maxOccurs="unbounded" />
			<xs:element name="Definition" type="multilingualTextType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="ReferenceDocument" type="referenceType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="about" type="xs:anyURI"/>
		<xs:attribute name="nodeID" use="required" type="guidType"/>
		<xs:attribute name="date" type="xs:dateTime" use="required" />
	</xs:complexType>
	<xs:complexType name="referenceType">
		<xs:attribute name="resource" type="xs:anyURI"/>
		<xs:attribute name="nodeID" type="guidType" />
	</xs:complexType>
	<xs:complexType name="datatypeType">
		<xs:sequence>
			<xs:element name="MinInclusive" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						MinInclusive is the inclusive lower bound of the value for a datatype
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:anySimpleType" />
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxInclusive" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						MaxInclusive is the inclusive upper bound of the value for a datatype
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:anySimpleType" />
				</xs:complexType>
			</xs:element>
			<xs:element name="MinExclusive" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						MinExclusive is the exclusive lower bound of the value for a datatype
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:anySimpleType" />
				</xs:complexType>
			</xs:element>
			<xs:element name="MaxExclusive" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						MaxExclusive is the exclusive upper bound of the value for a datatype
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:anySimpleType" />
				</xs:complexType>
			</xs:element>
			<xs:element name="Pattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Pattern is a constraint on the value of a datatype which is achieved by constraining the value to literals which macht a specific pattern.
						The value of pattern must be a regular expression
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="value" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="Enumeration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Enumeration constrains the value to a specified set of values
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Unit" type="referenceType" minOccurs="0" />
						<xs:element name="Values" type="valuesType" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="BOOLEAN"/>
					<xs:enumeration value="INTEGER"/>
					<xs:enumeration value="RATIONAL"/>
					<xs:enumeration value="REAL"/>
					<xs:enumeration value="COMPLEX"/>
					<xs:enumeration value="STRING"/>
					<xs:enumeration value="DATETIME"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="valuesType">
		<xs:sequence>
			<xs:element name="Value" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:anySimpleType">
							<xs:attribute name="order" type="xs:int" use="optional" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="xml:lang" use="optional" />
	</xs:complexType>
	<xs:simpleType name="scaleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LINEAR"/>
			<xs:enumeration value="LOGARITHMIC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="baseType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ONE"/>
			<xs:enumeration value="TWO"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="PI"/>
			<xs:enumeration value="TEN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="guidType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				The representation of a GUID, generally the id of an element.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="nodeID" type="guidType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Defines the ID of a concept
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="resource" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Defines a resource to identify a concept
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="about" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation xml:lang="en">
				Defines the resource being described
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
